version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: smartpos_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: smartpos
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: smartpos_adminer
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  postgres_data:
